html {
  box-sizing: border-box;
  width: 100%;

  font-size: 18px;

  @include breakpoint(medium) {
    font-size: 20px;
  }
  @include breakpoint(large) {
    font-size: 22px;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  font-family: $font-family-content;
  width: 100vw;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-family-heading;
}

h3,h4,h5,h6 {
  margin-bottom: 1rem;
  margin-top: 0;
}

a {
  color: inherit;
}

p {
  line-height: 1.4;
  margin-bottom: 1rem;
  margin-top: 0;
}
