$font-family-heading: 'Merriweather', serif;
$font-family-content: 'Lato', sans-serif;

$color-brand: #9ed36a;
$color-love: #ef2678;
$color-smoke-white: #f6f3f2;

$navigation-background: $color-smoke-white;

$border-color: #979797;
