@import "variables";

@import "normalize";
@import "reset";

@import "component/BannerImage";
@import "component/Button";
@import "component/ContentBlock";
@import "component/DocumentFooter";
@import "component/InlineFigure";
@import "component/Highlight";
@import "component/List";
@import "component/Logo";
@import "component/MainNavigation";
@import "component/Media";
@import "component/NavigationList";

.MainArea {
  max-width: 1600px;
  margin: 0 auto;
  background-color: white;
}

.BuildWithLove {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  font-size: 14px;

  b {
    color: #ef2678;
  }
}
