@import 'variables';

@import 'mixins';

@import 'normalize';
@import 'reset';

@import 'component/BannerImage';
@import 'component/Button';
@import 'component/ContentBlock';
@import 'component/DocumentFooter';
@import 'component/InlineFigure';
@import 'component/Highlight';
@import 'component/List';
@import 'component/Logo';
@import 'component/MainNavigation';
@import 'component/Media';
@import 'component/NavigationList';

.MainArea {
  background-color: white;
  margin: 0 auto;
  max-width: 1600px;
}

.ContentArea {

}

.BuildWithLove {
  bottom: 1rem;
  font-size: 14px;
  left: 1rem;
  position: absolute;

  a {
    text-decoration: none;
  }

  b {
    color: $color-love;
  }
}
