<nav class="MainNavigation">
  <a href="{{ .Site.BaseURL }}" class="MainNavigation__logo Logo">
    <div class="Logo__image">
      {{ partial "logo.html" . }}
    </div>
    <div class="Logo__content">
      <div class="Logo__headline">Cours de Design en Permaculture</div>
      <div class="Logo__name">Vaud-Valais 2018</div>
    </div>
  </a>
  <div class="MainNavigation__navigation">
    <ul class="NavigationList">
      {{ range sort .Site.Menus.main }}
      <li class="NavigationList__item">
        <a href="{{ .URL }}" class="NavigationList__link">{{ .Name }}</a>
      </li>
      {{ end }}
      <li class="NavigationList__item">
        <a href="#" class="Button">Inscription</a>
      </li>
    </ul>
  </div>
</nav>
