<section class="Highlight" style="background-image: linear-gradient(yellow,orange),url('https://picsum.photos/1600/1200/?random&gravity=east')">
  <div class="Highlight__content">
    <div class="Highlight__title"><span class="Highlight__overlay">Formation  certifiante en permaculture</span></div>
    <div class="Highlight__subtitle"><span class="Highlight__overlay">14 jours de formation sur 2 lieux</span></div>
    <div class="Highlight__subtitle"><span class="Highlight__overlay"><b>Spécial famille</b> / ateliers & animations pour enfants</span></div>
  </div>
  <footer class="Highlight__actions">
    <a href="#" class="Button">Inscription <b>1'100 CHF</b> <sup>(adulte)</sup></a>
  </footer>
</section>
<main class="MainArea">
  <section class="ContentBlock">
    <header class="ContentBlock__header">
      <h2 class="ContentBlock__title">Objectif terre</h2>
    </header>
    <div class="ContentBlock__content">
      <p>Conçu par David Holmgren et Bill Mollison, les fondateurs de la permaculture, le cours certifié de design en permaculture vous permet d’appréhender en une douzaine de jours les éthiques, les principes, les pratiques et les outils.</p>
      <p>L’objectif est à la fois simple et ambitieux: : ap- prendre comment il est possible de combler ses besoins élémentaires (nourriture, habitat, eau, énergie,...) et créer les paysages de demain tout en respectant le sol, la planète et tous les êtres avec lesquels nous cohabitons. Mais le dé  est de taille, car il nécessite bien souvent une complète remise en question de nos modes de vie, de nos façons de cultiver, de consommer, de se déplacer et de vivre ensemble!</p>
      <p>Au-delà d’un manuel de bonnes pratiques qui s’inspirent du fonctionnement des <a href="#">écosystèmes naturels</a>, la permaculture est aussi un état d’esprit qui se vit au quotidien, pour le bonheur de chacun.</p>
    </div>
  </section>
  <section class="ContentBlock ContentBlock--full">
    <header class="ContentBlock__header">
      <h2 class="ContentBlock__title">Encadrement</h2>
    </header>
    <div class="ContentBlock__content">
      <article class="Person">
        <h3 class="Person__name">Monika Frank</h3>
        <div class="Person__content Media">
          <div class="Media__media">
            <img class="InlineFigure__image" src="https://picsum.photos/1600/1200/?random&gravity=east" alt="Un jeune enfant qui joue au cerceau en souriant">
          </div>
          <div class="Media__content">
            <p>Le stage sera encadré par deux designers diplômés, <a href="#">Hubert de Kalbermatten</a> (Valais) et <a href="#">Monika Frank</a> (Allemagne/France), et par une équipe de permaculteurs expérimentés.</p>
            <p>C’est avec un immense plaisir qu’ils parta- geront leur passion dans leur domaine de compétence, qu’il s’agisse de plantes sau- vages, de construction écologique, d’éner- gie, de climat, de relations humaines...</p>
          </div>
        </div>
      </article>
      <article class="Person">
        <h3 class="Person__name">Hubert de Kalbermatten</h3>
        <div class="Person__content Media">
          <div class="Media__media">
            <img class="InlineFigure__image" src="https://picsum.photos/1600/1200/?random&gravity=east" alt="Un jeune enfant qui joue au cerceau en souriant">
          </div>
          <div class="Media__content">
            <p>Le stage sera encadré par deux designers diplômés, <a href="#">Hubert de Kalbermatten</a> (Valais) et <a href="#">Monika Frank</a> (Allemagne/France), et par une équipe de permaculteurs expérimentés.</p>
            <p>C’est avec un immense plaisir qu’ils parta- geront leur passion dans leur domaine de compétence, qu’il s’agisse de plantes sau- vages, de construction écologique, d’éner- gie, de climat, de relations humaines...</p>
          </div>
        </div>
      </article>
    </div>
    <footer class="ContentBlock__footer">
        <a href="#" class="Button">Voir le reste de l'équipe d'encadrement</a>
    </footer>
  </section>
  <section class="ContentBlock">
    <div class="BannerImage">
      <img src="https://picsum.photos/1600/1200/?random&gravity=east" alt="Un jeune enfant qui joue au cerceau en souriant">
    </div>
    <header class="ContentBlock__header">
      <h2 class="ContentBlock__title">Programme</h2>
    </header>
    <div class="ContentBlock__content">
      <p>Conçu par David Holmgren et Bill Mollison, les fondateurs de la permaculture, le cours certifié de design en permaculture vous permet d’appréhender en une douzaine de jours les éthiques, les principes, les pratiques et les outils.</p>
      <p>L’objectif est à la fois simple et ambitieux: : ap- prendre comment il est possible de combler ses besoins élémentaires (nourriture, habitat, eau, énergie,...) et créer les paysages de demain tout en respectant le sol, la planète et tous les êtres avec lesquels nous cohabitons. Mais le dé  est de taille, car il nécessite bien souvent une complète remise en question de nos modes de vie, de nos façons de cultiver, de consommer, de se déplacer et de vivre ensemble!</p>
      <ul class="List">
        <li class="List__item">Historique de la permaculture</li>
        <li class="List__item">Les éthiques</li>
        <li class="List__item">Design: principes, outils et méthodologie</li>
        <li class="List__item">Les exercices de design</li>
        <li class="List__item">Les sols</li>
        <li class="List__item">Le climat</li>
        <li class="List__item">L’eau</li>
        <li class="List__item">Les plantes et le rôle des arbres, la  ore et la faune sauvage</li>
        <li class="List__item">Les animaux domestiques et les systèmes agricoles</li>
        <li class="List__item">L’habitat, l’écoconstruction et l’énergie • Le social et les structures invisibles</li>
        <li class="List__item">Les alternatives à l’économie courante</li>
      </ul>
      <p>Conçu par David Holmgren et Bill Mollison, les fondateurs de la permaculture, le cours certifié de design en permaculture vous permet d’appréhender en une douzaine de jours les éthiques, les principes, les pratiques et les outils.</p>
      <p>L’objectif est à la fois simple et ambitieux: : ap- prendre comment il est possible de combler ses besoins élémentaires (nourriture, habitat, eau, énergie,...) et créer les paysages de demain tout en respectant le sol, la planète et tous les êtres avec lesquels nous cohabitons. Mais le dé  est de taille, car il nécessite bien souvent une complète remise en question de nos modes de vie, de nos façons de cultiver, de consommer, de se déplacer et de vivre ensemble!</p>
    </div>
    <footer class="ContentBlock__footer">
        <a href="#" class="Button">Consulter le programme complet</a>
    </footer>
  </section>
  <section class="ContentBlock">
    <header class="ContentBlock__header">
      <h2 class="ContentBlock__title">Cours, ateliers & visites</h2>
    </header>
    <figure class="InlineFigure">
      <img class="InlineFigure__image" src="https://picsum.photos/1600/1200/?random&gravity=east" alt="Un jeune enfant qui joue au cerceau en souriant">
      <figcaption class="InlineFigure__caption">Le stage sera encadré par deux designers diplômés, Hubert de Kalbermatten (Valais) et Monika Frank (Allemagne/France), et par une équipe de permaculteurs expérimentés</figcaption>
    </figure>
    <div class="ContentBlock__content">
      <p>Le stage sera encadré par deux designers diplômés, Hubert de Kalbermatten (Valais) et Monika Frank (Allemagne/France), et par une équipe de permaculteurs expérimentés.</p>
      <p>C’est avec un immense plaisir qu’ils parta- geront leur passion dans leur domaine de compétence, qu’il s’agisse de plantes sau- vages, de construction écologique, d’éner- gie, de climat, de relations humaines...</p>
    </div>
  </section>
</main>
