<section class="Highlight" style="background-image: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),linear-gradient(rgba(158, 211, 106, .3),rgba(158, 211, 106, .3)),url('https://images.unsplash.com/photo-1488543882437-49f6f714ad05?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=97af416c43d529544440b3b83a7be595&auto=format&fit=crop&w=1200&q=80')">
  <div class="Highlight__content">
    <div class="Highlight__title"><span class="Highlight__overlay">Formation  certifiante en permaculture</span></div>
    <div class="Highlight__subtitle"><span class="Highlight__overlay">14 jours de formation sur 2 lieux</span></div>
    <div class="Highlight__subtitle"><span class="Highlight__overlay"><b>Spécial famille</b> / ateliers & animations pour enfants</span></div>
  </div>
  <footer class="Highlight__actions">
    <a href="#" class="Button">Inscription <b>1'100 CHF</b> <sup>(adulte)</sup></a>
  </footer>
</section>
<main class="MainArea" id="content">
  <section class="ContentBlock">
    {{ partial "page-header.html" . }}
    <div class="ContentBlock__content">
      {{ .Content }}
    </div>
  </section>s
</main>
