<article class="ContentBlock ContentBlock--full">
  <div class="BannerImage">
    <img src="https://images.unsplash.com/photo-1488543882437-49f6f714ad05?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=97af416c43d529544440b3b83a7be595&auto=format&fit=crop&w=1200&q=80" alt="Un jeune enfant qui joue au cerceau en souriant">
  </div>
  <header class="ContentBlock__header" id="content">
    <h2 class="ContentBlock__title">{{ .Title }}</h2>
  </header>
  <div class="ContentBlock__content">
    {{ .Content }}
    <ul class="List">
      {{ range .Pages }}
      <li class="List__item">
        <a href="{{ .URL }}">{{ .Title }} ({{ .Params.locality }}, {{ .Params.state }})</a>
      </li>
      {{ end }}
    </ul>
  </div>
</article>
