.DocumentFooter {
  background-color: $color-brand;
  display: flex;
  flex-wrap: wrap;
  height: 12px;
  margin-top: 5rem;

  position: relative;

  &__logo {
    bottom: 0;
    position: absolute;
    right: 4rem;
  }
}
