.Highlight {
  display: flex;
  position: relative;
  flex-direction: column;

  padding-bottom: 4rem;

  max-height: 800px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    background-attachment: fixed;
    background-blend-mode: multiply;

    transition: all 480ms ease-in-out;
    z-index: -1;
  }

  &__content {
    margin: 0 1rem;
    padding-top: 1rem;

    z-index: 1;

    &:hover,
    &:focus {
      .Highlight__title,
      .Highlight__subtitle {
        color: black;
      }
      .Highlight__overlay {
        background-color: rgba(255, 255, 255, .9);
      }
    }
  }

  &__title,
  &__subtitle {
    font-family: $font-family-heading;
    color: white;
    font-size: 1.1rem;
    line-height: 1.45;
    font-weight: 700;
    margin-bottom: .75rem;

    transition: all 620ms ease-in-out;
  }

  &__subtitle {
    font-size: 1rem;
    font-weight: 400;
  }

  &__overlay {
    display: inline-block !important;
    background-color: rgba(255, 255, 255, .2);
    display: block;
    padding: 0.5rem 1rem;

    box-decoration-break: clone;
  }

  &__actions {
    margin: 1.75rem;
    padding-bottom: 1rem;
  }

  @include breakpoint(medium) {
    &__content {
      margin: 0 4rem;
      padding-top: 4rem;
    }

    &__title {
      font-size: 2rem;
    }

    &__subtitle {
      font-size: 1.6rem;
    }

    &__actions {
      margin: 4.75rem;
      padding-bottom: 4rem;
    }
  }
}
