.InlineFigure {
  position: relative;
  margin: 0;
  width: calc(100% + 4rem);
  margin: 2rem -4rem 0 -4rem;

  &__image {
    width: 100vw;
    height: auto;
  }

  &__caption {
    position: absolute;
    left: 4rem;
    bottom: 2rem;
    background-color: rgba(255, 255, 255, .9);
    padding: 1rem;
    width: 43rem;
    font-size: 18px;
    line-height: 1.4;
  }
}
