.NavigationList {
  display: flex;
  margin-left: auto;

  &__item {
    font-family: $font-family-heading;
    list-style: none;
    font-size: 1.2rem;
    margin-left: 2rem;

    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    text-decoration: none;

    transition: color .1s ease-out;

    &:hover,
    &:focus {
      background-image: linear-gradient($color-brand,$color-brand);
      background-repeat: no-repeat;
      background-size: 100% 1.5px;
      background-position: center bottom 11%;
      background-origin: padding-box;
      text-shadow: 3px 0 #f6f3f2,2px 0 #f6f3f2,1px 0 #f6f3f2,-1px 0 #f6f3f2,-2px 0 #f6f3f2,-3px 0 #f6f3f2;
    }
  }
}
